body {font-family: 'Ubuntu', sans-serif;
      background: #000;
      margin: 0 ;
      padding: 0;
       color: #BFBFBF;}

div, a, p, span, button, input, img ,h1,h2,h3{box-sizing: border-box;}



/*header*/


::-webkit-scrollbar-track:horizontal {
background-color:#212121;
border-radius: 10px;
height: 5px;
}

::-webkit-scrollbar-track:vertical {
background-color:none;
border-radius: 10px;
}


::-webkit-scrollbar-thumb:horizontal {
-webkit-border-radius: 10px;
background-color:#DFFF00;
height: 20px;
}


::-webkit-scrollbar-thumb:vertical {
-webkit-border-radius: 10px;
background-color:#444444;;
}

::-webkit-scrollbar{
width: 8px;
height: 8px;
}


.header {
  height: 100vh;
  background: linear-gradient(45deg, #00FF9F, #000000);
  width: 100%;
}

.header__logo {
  position:relative;
  top:2%;
  text-align:center;
}

.header__contant{
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content:center;
  text-align: center;
  top: 15%;
  width: 100%;
  height: auto;
}

.main__contant{position: relative;
  display: block;
width: 45%;
height: 100%;
margin: 0 3%;}

.main {
  position: relative;
  background: linear-gradient(45deg, #00FFA8, #DFFF00);
  display: block;
  height: 500px;
  width: 100%;
  border-radius: 40px;
  text-align: center;
}

.video{
  position: relative;
  top: 34%;
}

.mover {
 position: absolute;
 display: block;
 background: #DFFF00;
 border-radius: 40px;
 color: #000;
 height: 500px;
 width: 100%;
 text-align: center;
 transition: all 1s ease;
}

.mover span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0,-200%);
    height: 2%;
    width: 30%;
    background: #A2FF00;
    border-radius: 10px;
    content: '';
}

             .mover:hover {
                            transform: translate(0,-15%);
                            transition: all 1s ease;
                            background: #DFFF00;
                                  }

.header__contant__checkin {
  position: relative;
  background: linear-gradient(45deg, #A2FF00, #DFFF00);
  border-radius: 40px;
  height: 500px;
  width: 350px;
  color: #000;
}

.header__contant__checkin input {
  border-radius: 10px;
  border: none;
  height: 30px;
  width: 200px;
  outline:none;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;

}

.header__contant__checkin__numbers {
  display: flex;
  justify-content: center;
  padding: 0 35px;
  margin-top: -8.5%;
}


.header__contant__checkin h2 {
  font-weight: 900;
  margin: 30px 0;
}

.header__contant__checkin__button {
  background:#B73100;
  border-radius:30px;
  width: 180px;
  text-decoration: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.5s ease;
}

        .header__contant__checkin__button:hover {
                transition: all 0.5s ease;
                background:#FF4500}

.header__contant__checkin__button a {
  text-decoration: none;
  color: #000;
  font-weight:700;
  font-size: 20px;
}

.number {
 margin: 0 15px;
 padding-top: 4px;
 border-radius: 20px 20px 0 0;
 display:block;
 font-weight: 900;
 background: #537001 ;
 height: 30px;
 width: 60px;
 text-decoration: none;
 color: #000;
 transition: all 0.5s ease;
}

          .number:hover {
            background: #BCFF00 ;
            transition: all 0.5s ease;}

.number__active {
  margin: 0 15px;
  padding-top: 4px;
  border-radius: 20px 20px 0 0;
  display:block;
  font-weight: 900;
  background: #BCFF00 ;
  height: 30px;
  width: 60px;
  text-decoration: none;
  color: #000;}


.header__wave {
  position: absolute;
  margin: 0;
  bottom:0%;
  transform: translate(0,2%)
}

                 /*ease*/

.ease {
 text-align: center;
 position: absolute;
 width: 100%;
 height: 100%;
 padding: 0;
 margin: 0;
 transition: .30s;
}

.ease i {
  animation-timing-function: linear, ease;
}


                  /*particle*/


.particle {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: #00E6C7;
  filter: blur(5px);
  -webkit-animation: x 20s linear infinite, y 20s ease-in infinite both;
}

   @keyframes x {
     to { left: -10%;}
     from {left: 95%;}}

    @keyframes y {
      to { top: 0;}
      from {top: 85%;}}

.particle__1 {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #00E6C7;
  filter: blur(2px);
  -webkit-animation: x__1 20s linear infinite, y__1 20s ease-in infinite both;
}


    @keyframes x__1 {
      to { left: -10%;}
      from {left: 95%;}}

     @keyframes y__1 {
      to { top: 50%;}
    from {top: 80%;}}

.particle__2 {
  display: block;
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background: #00E6C7;
  filter: blur(0px);
  -webkit-animation: x__2 20s linear infinite, y__2 20s ease-in infinite both;
}

      @keyframes x__2 {
        to { left: -10%;}
        from {left: 80%;}}

      @keyframes y__2 {
        to { top: -10%;}
        from {top: 85%;}}

.particle__3{
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: #00E6C7;
  filter: blur(5px);
  -webkit-animation: x__3 10s linear infinite, y__3 10s ease-in infinite both;
}

@keyframes x__3 {
  to { left: -10%;}
  from {left: 80%;}}

@keyframes y__3 {
  to { top: -10%;}
  from {top: 70%;}}

.particle__4 {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #00E6C7;
  filter: blur(2px);
  -webkit-animation: x__4 8s linear infinite, y__4 8s ease-in infinite both;
}

@keyframes x__4 {
  to { left: -10%;}
  from {left: 95%;}}

@keyframes y__4 {
  to { top: -10%;}
  from {top: 85%;}}

.particle__5 {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #00E6C7;
  filter: blur(2px);
  -webkit-animation: x__5 5s linear infinite, y__5 5s ease-in infinite both;
}

            @keyframes x__5 {
              to { left: -10%;}
              from {left: 40%;}}

            @keyframes y__5 {
              to { top: 50%;}
              from {top: 80%;}}

.particle__6 {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: #00E6C7;
  filter: blur(0px);
  -webkit-animation: x__6 30s linear infinite, y__6 30s ease-in infinite both;
}

            @keyframes x__6 {
              to { left: -20%;}
              from {left: 20%;}}


            @keyframes y__6 {
              to { top: -10%;}
              from {top: 70%;}}

.particle__7 {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #00E6C7;
  filter: blur(5px);
  -webkit-animation: x__7 30s linear infinite, y__7 30s ease-in infinite both;
}

            @keyframes x__7 {
              to { left: -20%;}
              from {left: 50%;}}


            @keyframes y__7 {
              to { top: -10%;}
              from {top: 82%;}}

.particle__8 {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background: #00E6C7;
  filter: blur(5px);
  -webkit-animation: x__8 30s linear infinite, y__8 30s ease-in infinite both;
}


            @keyframes x__8 {
              to { left: -200%;}
              from {left: 95%;}}

            @keyframes y__8 {
              to { top: -10%;}
              from {top: 85%;}}

.particle__8 {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background: #00E6C7;
  filter: blur(5px);
  -webkit-animation: x__8 20s linear infinite, y__8 20s ease-in infinite both;
}

              @keyframes x__8 {
                to { left: 20%;}
                from {left: 95%;}}

              @keyframes y__8 {
                to { top: -20%;}
                from {top: 80%;}}


                    /*particle end*/
                    /*heder end*/


                    /*section*/


.section {
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.section__partners {
  margin: 0 auto;
  margin-top: 2%;
  width: 90%;
  height: 100%;
  text-align: center;
}

.section__partners img {
  width: 11%;
  height: auto;
  vertical-align: middle;
  height: auto;
  margin: 1% 2%;
  opacity: .15;
  transition: all 2s ease;
}

.section__partners img:hover {
  opacity: 1;
  transition: all 1s ease;
}

.svg1 {
  position: absolute;
  left: 0;
  width: 12%;
  top:120%;
 height: auto;
z-index: -1;}

.svg2 {
  position: absolute;
  right:0;
  top: 120%;
  width: 20%;
 height: auto;
  z-index: -1;}

  .svg3 {
  position: absolute;
  left:0;
  top: 240%;
  width: 20%;
  height: auto;
  z-index: -1;}

  .svg4 {
  position: absolute;
  right: 0;
  top: 340%;
  width: 15%;
  height: auto;
  z-index: -1;}

.svg5{
  position: absolute;
  left:0;
  top: 440%;
  width: 15%;
  height: auto;
  z-index: -1;
}

.svg6{
  position: absolute;
  right: 0;
  top: 580%;
  width: 15%;
  height: auto;
  z-index: -1;
  transition: all 1s ease;
}

.section__preview {
  margin: 0 auto;
  display: block;
  width:40%;
  color: #BFBFBF;
  margin-top: 6%;
}

.section__preview h1{
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}

.section__preview p {
  font-size: 16px;
  margin-top: 5%;
  text-align: inherit;
}

.section__about {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top:8%;
}

.section__about p {color:#707070;}

.about{
  height: 500px;
  width: 400px;
  background: #000;
  border-radius: 20px;
  color: #BFBFBF;
  text-align: center;
  padding-top:5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow:0 0 0 0 #293700;
  transition: all 1s ease;
}
        .about:hover {
                box-shadow: 0 10px 70px 0 #293700;
                transition: all 1s ease;
                transform:translate(0,-5%);}


/*scroll*/


.section__scroll {
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
  box-shadow: 0 0 0 0 #293700;
  border-radius: 30px;
  transition: all 0.5s ease;
  padding: 3% 5%;
  margin: 10% 10%;
  background: #000;
}

             .section__scroll:hover{
                  box-shadow: 0 20px 80px 0 #293700;
                  transform: translate(0,-5%);
                  transition: all 1s ease;
}

.scroll{
  overflow-x: auto;
  transform: scaleY(-1);
  margin-top: 5%}

.section__scrollp {
  width: 30%;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 1%;
}

.section__scroll h1 {
  margin: 0 auto;
  width: 30%;
  font-size: 40px;
}


.scroll__main {
  display: flex;
  transform: scaleY(-1);
  width: 222%;
}

.mline{
  content: '';
  position: absolute;
  margin: 0 auto;
  margin-top: 112px;
  display: block;
  z-index: -1;
 width: 100%;
 height: 4px;
 border-radius: 30px;
 background: #2D2D2D;
}

.point{
  padding-top: 0.5%;
  margin-right: 2%;
}

.point p {
  margin-bottom: 10%;
}

.pointh2{
  height: 80.5px;
  margin: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #000;
  width: 120px;
  height: 40px;
  font-weight: 900;
  font-size: 16px;
  border-radius: 10px;
  background: linear-gradient(45deg, #00FFA8, #DFFF00)
}
.news__type{
  margin: 0 auto;
  width: 330px;
  height: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  margin-top: 30px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  background-color: #191919;
}

.news__typebig{
  margin: 0 auto;
  width: 680px;
  height: 450px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  margin-top: 30px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  background-color: #191919;
}

.chartbig{
  width: 90%;
  height: auto;
}

.news__typeh2 {
  margin: 0 auto;
  font-size: 20px;
  margin-top: 8%;
  margin-bottom: 10%;
  width: 80%;
  color: #fff;
}

.line {
  content: '';
  margin: 0 auto;
  display: block;
 width: 243px;
 height: 4px;
 border-radius: 30px;
 background: linear-gradient(45deg, #00FFA8, #DFFF00);
}

.news__typep {
  margin: 0 auto;
  margin-top: 10%;
  width: 80%;
  color: #5E5E5E;
  font-weight: normal;
}


.read__more{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  font-weight: 900;
  width: 330px;
  height: 45px;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(45deg, #00FFA8, #DFFF00);
  transform: translate(0,-50%);
}

.read__morebig{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  font-weight: 900;
  width: 680px;
  height: 45px;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(45deg, #00FFA8, #DFFF00);
  transform: translate(0,-50%);
}

/* Coments*/

.section__coments {
  margin: 0 auto;
  margin-top: 6%;
  width: 80%;
}

.section__coments__text {text-align: center;}

.section__coments__button {
  width: 30%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button__active {
  height: 50px;
  width: 30%;
  border: none;
  font-weight: bolder;
  border-radius: 20px;
  font-size: 1em;
  color: #000;
  cursor: pointer;
  background: #B3FF00;
}

.button{
  height: 50px;
  font-weight: bolder;
  border: none;
  border-radius: 20px;
  width: 30%;
  font-size: 1em;
  color: #000;
  cursor: pointer;
  background: #292929;
  transition: all 1s ease;
  outline:none;
}

        .button:hover {
                background: #B3FF00 ;
                transition: all 0.5s ease;}


.section__coments__main {
  display: flex;
  margin: 0 auto;
  border-radius: 30px;
  padding: 5% 5%;
  margin-top:5%;
  margin-bottom: 5%;
  transition: all 1s ease;
  width: 80%;
  background: #000;

}

.section__coments__main:hover {
  box-shadow: 0 20px 70px 0 #293700;
  transition: all 1s ease;
  transform:  translate(0,-5%); }

.section__coments__main .col {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 10%;
}

.user {
  display: flex;
  align-items: center;
}

.user__info {
  padding-left: 1rem;
}

.user__info h2 {
  font-size: 1.2em;
  margin:0;
}

.main__div__status {
  font-weight: 300;
  color: #707070;
  margin: 0;
}

.main__div__status2 {
  color:#31FF00;
  font-weight: 300;
  margin: 0;
}

.user__avatar {width: 8%;
                height: auto;}

.photo {width: 30%;
        height: 30%;}


/*how it works*/


.how__it__works {
  margin: 0 auto;
  text-align: center}

.text {
  font-size: 36px;
  margin: 7% 0;
}

.tabs {
  margin: 0 auto;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.tabs__1 {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.tabs img {
  height: auto;
  width: 60%;
}

.tabs__1 p {
  padding: 0 10%;
  color:#707070;
  font-weight: 300;
}

/*QUESTIONS*/

.text__questions {
  font-size: 26px;
  margin-top: 7%;
  margin-bottom: 7%;
  text-align: center;
}

.questions__main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.questions__first {
  display: flex;
  text-align: left;
}

.question {
  margin: 5% 16%;
  width: 30%;
  position: relative;
}

          .question:hover .question__index {transform: rotate(360deg);}

.question__index{
 position: absolute;
 left: -25%;
 top: 5%;
 padding-top: -5%;
 text-align: center;
 transition: transform .8s ease-in-out;
}


.register {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  border: none;
  text-align: center;
  background: #FF4500;
  border-radius: 30px;
  width: 15%;
  padding: 1% 0;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  text-decoration: none;
   color: #000;
}

/*footer*/

.foter{
 width: 90%;
 text-align: center;
 margin: 0 auto;
 margin-top: 10%;
 color:#707070;
 font-size: 0.8em;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: none;
}

.popup {
    top: 15%;
    left: 0;
    text-align: center;
    right: 0;
    margin: auto;
    height: auto;
    width: 700px;
    position: absolute;
    padding: 25px 80px;
    background:url(../img/pop_up.png);
    z-index: 1000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}


.form {
  margin-top: 7%;
  text-align: right;
    margin-right: 30%;
}

.input{
border-radius: 10px;
width: 200px;
margin-top: 2%;
margin-left: 1%;
height: 40px;
background-image: linear-gradient(to right, #fff700 0%, #00ffb1 100%);
border: none;
font-size: 14px;
font-weight: bold;
font-family: 'Ubuntu', sans-serif;
text-align: center;
outline:none;
}

.button__popup {
  background:#FF4500;
  width: 200px;
  height: 50px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 20px;
  border: none;
  margin-top: 4%;
  outline:none;
}

.close{
  top: 1px;
  right: 1px;
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  background:#000;
  border-radius: 0%;
  opacity:1;
  cursor: auto;
  outline: none;
  border: none;
}

.b-popup{width: 100%;
height: 100%;}

.popup_video{
  display: block;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  border-color: #000;
  border: 10px;
  transform: translate(-50%,-50%);
}

.videor{
  border-radius: 20px;
  width: 100%;
  height: auto;
  outline:none;
}
